* {background-color: rgb(137, 171, 207);}
h1 {font-size: 40px; font-weight: 600; border: 2px dashed rgb(18, 18, 175); text-align: center;}
.contact-container * {background-color: rgb(92, 116, 180); }
.contact-container  {background-color: rgb(92, 116, 180); }
.title-text {font-size: 20px; text-align:center ;}
.likes-container * {background-color: rgb(92, 116, 180); }
.likes-container  {background-color: rgb(92, 116, 180); }
.my-pr * {background-color: rgb(92, 116, 180); }
.my-pr {background-color: rgb(92, 116, 180); }